.marker {
    width: 80px;
    height: 80px;
}

#winner-display {
    display: none;
    background-color: red;
    color: white;
}

body {
    text-align: center;
}

#reset-button{
    margin-top: 10px;
}
.column {

border-radius: 50%;
border-color: blue;
width: 10px;
height: 10px;
padding: 20px;

}
.tr {
  display: flex;
  flex-direction: row;
}
.table{
    border:1px solid royalblue;
    border-spacing: 10px;
    background-color: royalblue;
    
} 
.th{
  border:1px solid royalblue;
  padding: 35px;
  

}
.td{
    border-radius: 50%;
    border:1px solid royalblue;
    background-color: white;
    box-shadow: inset .5vh .5vh 2vh .5vh rgba( 0, 0, 0, .5 );
    padding: 25px;
    margin: 5px;
    height: max-content;
    width: max-content;
}
.child {
  width: auto;
  height: auto;
  padding: 20px;
}
.trapezium {
    height: 0;
    width: 585px;
    border-bottom: 100px solid royalblue;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    box-shadow: inset 0.5vh 0.5vh 2vh 0.5vh rgb(0 0 0 / 50%);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.yellow{
 background-color:#F0DB4F;
 padding: 25px;
 border-radius: 50%;
 margin: 5px;

}
.red{
  background-color: red;
  padding: 25px;
  border-radius: 50%;
  margin: 5px;
}
.flex{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  background-image: url('red.jpg');
  background-size: 100%;

}
output {
  display: none;
  position: fixed;
  width: 83vh;
  height: 10vh;
  top: 20vh;
  left: 449px;
  background: white;
  text-align: center;
  font: 5vh sans-serif;
  line-height: 10vh;
  cursor: pointer;
  box-shadow: .5vh .5vh 2vh .5vh rgba( 0, 0, 0, .5 );
}
output:before {
  content: attr( class );
}
output.red,
output.yellow {
  display: block;
}
@font-face{
 font-family:'digital-clock-font';
 src: url('digital-7.regular.ttf');
}
h2 {
        color: red;
        margin: 0 30px;
        font-family:'digital-clock-font'
      }
.number{
  font-size: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;

}
.title{
  font-size: 80px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.myDiv {
  width: 400px;
  min-height: 77px;
  left: 500px;
  border: 2px outset white;
  background-color: black;    
}
#reset-button{
    margin-top: 10px;
}
.winning-message{
  min-height: 77px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.win-msg{
  display:none;
  font-size: 50px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.drop-targets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.box {
  height: 52px;
  width: 62px;
  margin-bottom: 5px;
  border-radius: 50%;

  /* align items in the box */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.drag-over {
  border: dashed 3px red;
  width: 52px;
}

.item {
  height: 52px;
  width: 52px;
  top: 145px;
  background-color: #F0DB4F;
  border-radius: 50%;

}
.hide {
  display: none;
}

.coolDiv {
  position: absolute;
  height: 52px; 
  width: 52px;
  background-color: #F0DB4F;
  border-radius: 50%;
}

.glow {
  box-shadow:
  0 0 5px 5px #fff,  /* inner white */
  0 0 10px 10px #f0f, /* middle magenta */
  0 0 10px 10px #0ff; /* outer cyan */
}
#overlay {
  position: absolute;
  display: block;
  width: 430px;
  height: 57px;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#overlay2 {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.624);
  z-index: 2;
  cursor: pointer;
}
#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.allo {

  background:gainsboro;
  padding:1em 1.6em;
  /* border:-1px solid gray; */
  border-radius:1px;
  color:black;
  transition:0.3s;
  opacity:1;
  align-items: center;
  justify-content: center;
}
.allo:hover {
  background:gray;
  transition:0.3s;
}
.html_button{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}
